
<style>
    
</style>
<footer class="ms-auto">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/share/zdoUuWDxxdWk9kxc/?mibextid=qi2Omg"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/wandelust_wanderlust?igsh=enBvZ2hqcjF5eTJj"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/keshav-mishra-851540248/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">
            &copy; WonderLust Private Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>